*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100vh;
    width: 100%;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
button{
  height: 50px;
  padding: 10px 20px;
  margin : 20px;
  font-size: 25px;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  border: none;

}
h1{
  width: fit-content;
  font-size: 100px;
  padding: 10px 70px;
  border-radius: 5px;
  margin : 20px;
}
