*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color:#ffffff;
  width: 400px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10 25px rgba(0,0,0,0.2);
}

.container h2{
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input{
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

input:focus{
  border-color: #6c63ff;
}

.container div button {
  width: 48%;
  padding: 10px;
  margin-top: 15px;
}

/* Button style */
.btn {
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 4px;
}

.btn:hover {
  background-color: #574bdb;
}

/* Center result */
.center {
  margin-top: 20px;
  text-align: center;
}

/* BMI text */
.center h3 {
  color: #333;
  margin-bottom: 5px;
}

/* Message text */
.center p {
  font-size: 16px;
  font-weight: bold;
  color: #6c63ff;
}

