*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
button{
  padding: 20px 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  color:black;
  border: none;
  background-color: coral;
  font-size: 25px;
}
button:hover{
  background-color: blue;
}

button:active{
  background-color: chartreuse;
}
