*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
.nav{
  display: flex;
  background-color: lightseagreen;
  justify-content: space-between;
  padding: 14px 40px;
  align-items: center;
}

.nav2{
  display: flex;
  gap: 20px;
}