*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
}

.cardName{
    background-color: indianred;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
