* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
}

.parent {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  height: 360px;
  border: 1px solid white; /* ✅ soid → solid */
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}

.card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.card h1 {
 font-size: 20px;
}
.card p {
  margin: 20px 0;
}

.card button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background-color: #555;
}
