*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html , body{
    height: 100%;
    width: 100%;
}
.parent{
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background: #111;
  gap: 20px;
}
.card{
    width: 320px;
    background: #ffffff;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.top{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.top img{
  width:45px;
  height: 45px;
  object-fit: cover;
}
.top button{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  font-size: 12px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 50px;
}

.center{
  margin:20px 0;
}
.center h2{
  font-size: 14px;
  margin-bottom: 6px;
  color: rgb(76, 67, 67);
}

.center h2 span{
  font-size: 12px;
  color: #888;
}

.center h4{
  display: inline-block; 
  background-color: #f2f4f8;
  padding: 6px 8px;
  border-radius: 6px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 14px;
  color: rgb(76, 67, 67);
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.bottom .left{
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 80px;
  
}

.bottom .right{
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 80px;
}
.bottom .right button{
  background-color: #111;
  border: none;
  padding: 10px 16px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;  
}
