*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Times New Roman', Times, serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444;
}

.Parent{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap:10px
}

.card{
  padding: 30px 40px;
  text-align: center;
  border-radius: 16px;
  background: linear-gradient(
    to bottom,
    #667eea,
    #764ba2
  );
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  color: #fff;
  max-width: 320px;
}

.card img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
}

.card h1{
  margin: 10px 0;
}

.card h2{
  font-size: 18px;
  color: #e0e0e0;
}

.card p{
  font-size: 15px;
  margin: 14px 0;
  line-height: 1.5;
  opacity: 0.9;
}

button{
  padding: 14px 28px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  background: #00d2ff;
  color: #000;
  transition: 0.3s;
}

button:hover{
  background: #3a7bd5;
  color: #fff;
}
