*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
    color: white;
}
body{
    height: 100%;
    width: 100%;
    background-color: #111;
}
.parent{
    padding: 20px;
    display: flex;
    /* align-items: center; */
    flex-wrap:wrap ;
}
.card{
    width: 300px;
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #222;
}
.card img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.card h1{
    margin-bottom: 10px;
}
.card p{
    margin-bottom: 20px 0;
    padding: 10px;
}
.card button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}
.card button:hover{
    background-color: darkorange;
}