*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
input{
  font-size: 25px;
  padding: 20px;
  margin: 20px;
  background-color: #333;
  color: gainsboro;
}