.btn{
    height: 150px;
    width: fit-content;
    background-color: rgb(133, 163, 163);
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 50px;
    color: white;
    font-size: 24px;
}
