body{
  background-color: #555;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  padding: 20px 60px;
  color: black;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}