*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
.card{
    width: 350px;
    margin: 50px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.card img{
    width: 120px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #eee;
    margin-bottom: 15px;
}
.card h1{
    margin: 10px 0;
    font-size: 22px;
    font-weight: 600px;
}
.card p{
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

.card button{
    margin-top: 15px;
    border: none;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border-radius: 25px;
    cursor:pointer;
    font-size: 14px;
    transition: 0.3s ease;
}
.card button:hover{
    background: #0056b3;
}