body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('/images.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px);         /* <-- BLUR HERE */
  z-index: -1;
}
/* Profile container */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

/* Image styling */
.profile img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  margin-top: 50px;
}

