*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
input{
  margin:10px;
  padding:10px 20px;
}

.box{
  height:200px;
  width: 200px;
  background-color: cadetblue;
}